// Body
$body-bg: #4781bb;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



// Theme and accent colors 
$red: #CC0000; //red
$gray: #6666; // gray
$white: #ffffff; // white
$black: #1A1A1A; // black
